:root {
    --background-color: #FFFFFF;
    --title-text-color: #2E2F42;
    --primary-text-color: #434455;
    --accent-color: #4D5AE5;
    --secondary-white-color: #F4F4FD;
    --third-white-color: #E5E5E5E5;
    --ocean-color: #404BBF;
    --header-border-color: #e7e9fc;
    --customers-link-color: #8E8F99;
    --modal-color: #FCFCFC;
    --footer-hover-color: #31d0aa;
    --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    min-width: 320px;
    max-width: 396px;
    margin-left: auto;
    margin-right: auto;
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* modal mobile */
/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    transition: opacity var(--main-animation), visibility var(--main-animation);

    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 10;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform var(--main-animation);
    width: 392px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--modal-color);
    z-index: 100;

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-80%);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    transition: background-color var(--main-animation), border var(--main-animation);
    padding: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;


    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--header-border-color);
    color: var(--title-text-color);
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--ocean-color);
    border: none;
    color: var(--background-color);
}

.close-icon {
    transition: fill var(--main-animation);
    fill: currentColor;
}

.modal-form {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 72px;
    margin: 0;
}

.modal-title {
    display: block;
    margin-bottom: 34px;
    min-width: 360px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.modal-label {
    position: relative;
    display: block;
    margin-bottom: 26px;
    transition: var(--main-animation);
    color: var(--title-text-color);
}

.modal-label-text {
    position: absolute;
    top: 50%;
    left: 38px;
    transform: translateY(-50%);
    transition: var(--main-animation);

}

.modal-input:focus~.modal-icon,
.modal-input:not(:placeholder-shown)~.modal-icon {
    fill: var(--accent-color);
}

.modal-icon {
    position: absolute;
    top: 14px;
    left: 19px;
    width: 12px;
    height: 12px;
    fill: currentColor;
    transition: fill var(--main-animation);
}

.modal-input:focus+.modal-label-text,
.modal-input:not(:placeholder-shown)+.modal-label-text {
    transform: translateY(-275%) translateX(-110%);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
}

.modal-input:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.modal-input:focus .modal-icon,
.modal-input:focus .modal-label {
    border: 1px solid var(--accent-color);
    outline: none;
}

.modal-textarea {
    padding-left: 16px;
    padding-top: 8px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;

    transition: transform var(--main-animation);
}

.textarea-label {
    margin-bottom: 16px;
    position: relative;
    display: block;
    transition: var(--main-animation);
}

.modal-textarea+.modal-label-text {
    opacity: 0;
}

.modal-textarea:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.modal-textarea:focus+.modal-label-text,
.modal-textarea:placeholder-shown+.modal-label-text,

.modal-textarea:not(:placeholder-shown)+.modal-label-text {
    opacity: 1;
    transform: translateY(-585%) translateX(-65%);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    cursor: pointer;
}

.modal-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-color: var(--modal-color);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    transition: backgroung-color var(--main-animation);
}

.modal-checkbox:checked+.checkbox-icon {
    background-color: var(--accent-color);
    background-image: url(../images/checkbox.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
}

.modal-checkbox-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-link-color);
}

.privacy-policy {
    color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-button {
    display: block;
    width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;

    transition: background-color var(--main-animation);
}

.form-button:hover,
.form-button:focus {
    background-color: var(--ocean-color);
}

/* header */
.header {
    border-bottom: 1px solid var(--header-border-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media only screen and (max-width: 767px) {
    .main-nav {
            display: none;
        }
    
    .contacts {
            display: none;
        }
        .flex-container {
            width: 100%;
        }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;

}

.header-logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-part {
    color: var(--title-text-color);
}

.menu-toggle {
    /* min-height: 40px;
    min-width: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
     
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: var(--ocean-color);
    border: none;
    color: var(--background-color);
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
    .menu-container {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-top: 72px;
    background-color: var(--background-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    
    /* color: #fff; */
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.11;
    text-decoration: none;
}
.mobile-menu .link:not(:last-child) {
    margin-bottom: 40px;
}
.studio-link.link {
    color:var(--ocean-color);
}
.mobile-contacts {
    margin-bottom: 48px;
}
.tel.link {
    margin-bottom: 40px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

}

.mobile-contacts.list .mail.link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
}
.mobile-contacts .mail.link {
    margin-top: 40px;
}
.mobile-menu {
    margin-bottom: auto;
}
.mobile-socials.footer-social-list.list {
    margin-bottom: 0;
    justify-content: space-between;
}
/* .social-media-item.mobile-item {
    column-gap: 15%;
} */

/* hero section */
.hero {
    max-width: 428px;
    height: 432px;

    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2E2F42;
    margin-left: auto;
    margin-right: auto;
    }
@media screen and (min-device-mixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/mobile2x.jpg);
    }
}
.container.overlay {
            padding-top: 112px;
            padding-bottom: 112px;
        }
    
.hero-title {
            max-width: 320px;
            margin-bottom: 72px;
            margin-left: auto;
            margin-right: auto;
    
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            color: var(--background-color);
        }
    
.hero-btn {
            display: inline-block;
            min-width: 169px;
            height: 56px;
            padding: 16px 32px;
            text-align: center;
            border: none;
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            color: var(--background-color);
            background-color: var(--accent-color);
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
    
            transition: background-color var(--main-animation);
        }
    
        .hero-btn:hover,
        .hero-btn:focus {
            background-color: var(--ocean-color);
        }
        
        /* about us section */
.info {
            padding-top: 96px;
            padding-bottom: 96px;
            padding-left: 16px;
            padding-right: 16px;
  
        }
.aboutus-container {
            display: none;
        }
.info-title {
                    text-align: center;
                    margin-bottom: 8px;
                    color: var(--title-text-color);
                    letter-spacing: 0.02em;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.11;
        
                }
        
.info-text {
    width: 100%;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    }
        
.info-last-child {
    margin-bottom: 0;
    }
/* works section */
.works {
    display:none;
}
/* team section*/
.team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--secondary-white-color);
}
.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--title-text-color);
}
.team-list-title {
    margin-bottom: 8px;

    text-align: center;
    font-size: 20px;
    line-height: 1.2;

    color: var(--title-text-color);
}
.team-item {
    margin-left: auto;
    margin-right: auto;
    max-width: 264px;
    height: 428px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color);
}
@media only screen and (max-width:719px) {
.team-item:not(:last-child) {
    margin-bottom: 72px;
}
}
.team-container {
    padding-top: 16px;
    padding-bottom: 16px;
}
.team-text {
    text-align: center;
    font-weight: 400px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social-media {
    transition: background-color var(--main-animation);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--secondary-white-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;

}
.social-media:hover,
.social-media:focus {
    background-color: var(--ocean-color);

}
.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-icon {
    fill: currentColor;
}
/* customers section */
.customers {
    /* max-width: 396px; */
    margin-left: auto;
    margin-right: auto;
    padding: 96px 16px;
    
    
}
.customers-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    color: var(--title-text-color);
}
.customers-list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -16px;
    margin-top: -72px;
}
.customers-item {
    flex-basis: ((100%-16px) / 2);
    margin-left: 16px;
    margin-top: 72px;
}
.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 88px;
    border: 1px solid var(--customers-link-color);
    border-radius: 4px;
    color: var(--customers-link-color);
}
.customers-link:hover,
.customers-link:focus {
    border-color: var(--ocean-color);

}
.customers-icon {
    transition: fill var(--main-animation);
    fill: currentColor;
    height: 56px;
    width: 110px;
}
.customers-icon:hover,
.customers-icon:focus {
    fill: var(--ocean-color);
}
/* footer */
@media only screen and (min-width:320px) and (max-width:480px){
  .footer-logo {
    text-align: center;
  } 
  .footnote-text {
    text-align: center;
    margin-bottom: 72px;
  }
.footer-social-list {
    margin-bottom: 72px;
    }
.flex-container:not(:last-child) {
    margin-bottom: 48px;
}
}

.footnote {
    background-color: var(--title-text-color);
    padding-top: 97.5px;
    padding-bottom: 96px;
}
.footer-logo {
    margin-bottom: 17.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    transition: color var(--main-animation);
}
.footer-logo-part {
    color: var(--secondary-white-color);
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--accent-color);

}
.footnote-text {
    width: 268px;
    margin-left: auto;
    margin-right: auto;

   
    font-weight: 400;
    color: var(--background-color);
}
.media {
    color: var(--background-color);
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.footer-social-list {
    gap: 16px;
    display: flex;
    justify-content: center;
}
.footer-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--secondary-white-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;

    

    transition: background-color var(--main-animation);
}

.footer-social-media:hover,
.footer-social-media:focus {
    background-color: var(--footer-hover-color);

}

/* .subscribe-container {
    max-width: 398px;
    
} */
.subscribe-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 398px;
    padding-right: 16px;
    padding-left: 16px;
}
.subscribe-text {
    display: block;

    color: var(--background-color);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 16px;
}

.subscribe-label {
    position: relative;
    display:flex;

}
.subscribe-label-text { 
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 8px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    opacity: 60%;
    color: var(--background-color);

    transition: transform var(--main-animation);
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
} */

.subscribe-input:focus+.subscribe-label-text,
.subscribe-input:not(:placeholder-shown)+.subscribe-label-text {
    transform: translateY(-90%) translateX(-35%);
}

.subscribe-input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    border: 1px solid var(--background-color);
    opacity: 30%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--title-text-color);
    color: var(--background-color);
    padding-left: 16px;
}
.subscribe-input:focus {
    border: 1px solid var(--accent-color);
    opacity: 1;
    outline: none;
}



.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--accent-color);

    transition: background-color var(--main-animation);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--ocean-color);
}

.footer-btn-text {
    margin-right: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--background-color);
}

.subscribe-icon {
    width: 24px;
    height: 20px;
    fill: var(--background-color);
}


/* portfolio */
.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-size: 20px;
    line-height: 1.5;

}
.portfolio-btn-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.margin-btn {
    margin-bottom: 16px;
}
.portfolio-btn {
    transition: color var(--main-animation), box-shadow var(--main-animation), background-color var(--main-animation), border-color var(--main-animation);
    padding: 8px 16px;
    margin-right: 24px;
    border: 1px solid var(--header-border-color);
    border-radius: 4px;
    background-color: var(--secondary-white-color);
    color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
    background-color: var(--ocean-color);
    color: var(--background-color);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.portfolio-link:hover .thumb-text,
.portfolio-link:focus .thumb-text {
    transform: translateY(0%);
    opacity: 1;
}
.thumb-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-white-color);
    background-color: var(--accent-color);

    transform: translateY(100%);
    transition: transform var(--main-animation);
    opacity: 0;
}
    
    .portfolio-link {
    transition: box-shadow var(--main-animation);
    display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}
 .flex-container {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    /* max-width: 396px; */

 }
.portfolio-container {
    border: 1px solid var(--header-border-color);
    border-top: none;
    padding: 32px 16px;
}
.flex-container {
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}  

.portfolio-list-title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.portfolio-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

@media only screen and (min-width: 768px) and (max-width:1127px) {
    /* header */
.container {
    min-width: 768px;
}
.main-nav {
    display: flex;
}

.nav-container {
    display: flex;
}
.header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-logo {
    margin-right: 120px; 
}
.studio-link::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color);

}
.studio-link::after {
    transform: translateY(570%);
}

.studio-link {
    position: relative;
}

.nav-item.studio-link {
    color: var(--ocean-color);
}

.main-nav-item:not(:last-child) {
    margin-right: 40px;
}
.nav-item {
    display: block;
    color: var(--title-text-color);
    transition: color var(--main-animation);
}

.nav-item:hover,
.nav-item:focus {
    color: var(--ocean-color);
}
.contacts {
    display: block;
    margin-left: auto;
}
.contacts-link {
    transition: color var(--main-animation);
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
        letter-spacing: 0.04em;
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean-color);

}

/* hero */
.hero {
    max-width: 1158px;
    height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
}
@media screen and (min-device-mixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background2x.jpg);
    }
}
.hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        /* or 107% */
}
/* about us */
.info-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.info-title {
    margin-bottom: 8px;
    text-align: left;

}
.info-text {
    width: 356px;
}
/* team */
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-top: -64px;
    margin-left: -24px;
    
}
.team-item {
    margin: 0;
    margin-top: 64px;
    margin-left: 24px;
}


/* footer */

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content:flex-start;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
    padding-right: 108px;
    
}

.subscribe-form {
    position: relative;
    padding: 0;
}
.subscribe-text {
    position: absolute;
    transform:  translateY(-150%);
}
.subscribe-container {
    display: flex;
    column-gap: 24px;
    
}
.subscribe-input {
    width: 264px;
    height: 40px;
}
/* portfolio */
.portfolio {
    padding: 64px 16px;
}
.portfolio-btn-list {
    display: flex;
    justify-content: center;

}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-container {
    border: 1px solid var(--header-border-color);
    border-top: none;
    
}
.portfolio-list-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.portfolio-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    transform: translateY(590%);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color);
}

.nav-item.portfolio-active {
    color: var(--ocean-color);
}

.portfolio-active {
    position: relative;
}
/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    transition: opacity var(--main-animation), visibility var(--main-animation);

    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(46, 47, 66, 0.4);
    z-index:10;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform var(--main-animation);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--modal-color);
    z-index: 100;
    
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-80%);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    transition: background-color var(--main-animation), border var(--main-animation);
    padding: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;


    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--header-border-color);
    color: var(--title-text-color);
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--ocean-color);
    border: none;
    color: var(--background-color);
}

.close-icon {
    transition: fill var(--main-animation);
    fill: currentColor;
}

.modal-form {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 72px;
    margin: 0;
}

.modal-title {
    display: block;
    margin-bottom: 34px;
    min-width: 360px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.modal-label {
    position: relative;
    display: block;
    margin-bottom: 26px;
    transition: var(--main-animation);
    color: var(--title-text-color);
}

.modal-label-text {
    position: absolute;
    top: 50%;
    left: 38px;
    transform: translateY(-50%);
    transition: var(--main-animation);

}

.modal-input:focus~.modal-icon,
.modal-input:not(:placeholder-shown)~.modal-icon {
    fill: var(--accent-color);
}

.modal-icon {
    position: absolute;
    top: 14px;
    left: 19px;
    width: 12px;
    height: 12px;
    fill: currentColor;
    transition: fill var(--main-animation);
}

.modal-input:focus+.modal-label-text,
.modal-input:not(:placeholder-shown)+.modal-label-text {
    transform: translateY(-275%) translateX(-110%);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
}

.modal-input:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.modal-input:focus .modal-icon,
.modal-input:focus .modal-label {
    border: 1px solid var(--accent-color);
    outline: none;
}

.modal-textarea {
    padding-left: 16px;
    padding-top: 8px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;

    transition: transform var(--main-animation);
}

.textarea-label {
    margin-bottom: 16px;
    position: relative;
    display: block;
    transition: var(--main-animation);
}

.modal-textarea+.modal-label-text {
    opacity: 0;
}

.modal-textarea:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.modal-textarea:focus+.modal-label-text,
.modal-textarea:placeholder-shown+.modal-label-text,

.modal-textarea:not(:placeholder-shown)+.modal-label-text {
    opacity: 1;
    transform: translateY(-585%) translateX(-65%);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    cursor: pointer;
}

.modal-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-color: var(--modal-color);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    transition: backgroung-color var(--main-animation);
}

.modal-checkbox:checked+.checkbox-icon {
    background-color: var(--accent-color);
    background-image: url(../images/checkbox.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
}

.modal-checkbox-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-link-color);
}

.privacy-policy {
    color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-button {
    display: block;
    width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;

    transition: background-color var(--main-animation);
}

.form-button:hover,
.form-button:focus {
    background-color: var(--ocean-color);
}
}