:root {
    --background-color:#FFFFFF;
    --title-text-color:#2E2F42;
    --primary-text-color:#434455;
    --accent-color:#4D5AE5;
    --secondary-white-color:#F4F4FD;
    --third-white-color:#E5E5E5E5;
    --ocean-color: #404BBF;
--header-border-color: #e7e9fc;
--customers-link-color: #8E8F99; 
--modal-color: #FCFCFC;
--footer-hover-color:#31d0aa;
--main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}
body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.container {
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* hero-section */
.hero {
    max-width: 428px;
    height: 432px;
    
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2E2F42;
    margin-left: auto;
    margin-right: auto;
}
.container.overlay {
    padding-top: 112px;
    padding-bottom: 112px;
}
.hero-title {
    max-width: 320px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--background-color);
}
.hero-btn {
    display: inline-block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    text-align: center;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--background-color);
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    transition: background-color var(--main-animation);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean-color);
}
/* about us section */
.info {
    padding: 96px 16px;
    
}
.info-title {
    text-align: center;
    margin-bottom: 8px;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
       
}
.info-text {
    width: 396px;
    height: 48px;
    margin-bottom: 72px;
}
.info-last-child {
    margin-bottom: 0;
}

.aboutus-container {
    display: none;
}
/* works section */
.works {
    display: none;
}
/* team section */
.team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--secondary-white-color);
}
.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--title-text-color);
}
.team-list-title {
    margin-bottom: 8px;

    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    
    color: var(--title-text-color);
}
.team-item {
    margin-left: auto;
    margin-right: auto;
    width: 264px;
    height: 428px;
    margin-bottom: 72px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color);
}
.team-text {
    text-align: center;
    font-weight: 400px;
    margin-left: auto;
    margin-right: auto;
}
/* customers section */
.customers {
    padding: 96px 16px;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;

}
.customers-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    color:var(--title-text-color);
}
.customers-item {
    width:calc(100%-8px / 2);
    height: 88px;
}
.customers-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--customers-link-color);
    border-radius: 4px;
    color: var(--customers-link-color);
}
@media only screen and (min-width: 768px) {
    .container{
        max-width: 735px;
    }
}
@media only screen and (min-width: 1158px) {
   .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}